/* COLORBASE */

:root {
    --blank1: #dddddd;
    --blank2: black;
    --accent1: rgb(145, 39, 39);
    --accent2: rgb(198, 34, 34);
    --glass1: rgba(0, 0, 0, 0.352);
    --glass2:rgba(145, 39, 39, 0.527);
    --size1: 0.5em;
    --size2: 0.7em;
    --size3: 1.5em;
    --size4: 3em;
}

/* FONTS */

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    font-style: italic;
    src: url(../fonts/Montserrat/Montserrat-Italic.ttf);
}

* {
    font-family: Roboto;
    font-style: normal;
    font-family:"Montserrat";
}

/* ANIMATIONS */

@keyframes fly {
    0%  { left: 40%; top: 150px;}
    100% { left: 90%; top: 200px;}
}

/* BASE */

* {
    padding: 0;
    margin: 0;
    color: var(--blank1);
}

li{
    list-style: none;
}
button{
    background: none;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}


.body {
    /*
    background-image: url("../img/stars8k.png");
    background-position: center;
    background-size: contain;
    */
    background: var(--blank2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.body::-webkit-scrollbar {
    display: none;
}


.main {
    flex: 1
}

.section {

}

.container {
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
}
/* HEADER */

.header {
    background: var(--glass1);
    height: 70px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 2;
    overflow: hidden;
    
}
.header__p {
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: var(--size3);
    font-weight: bold;
}

/* SECTION HEADER */

.section-header{
    background: var(--blank2);
    height: 100vh;
    background: url("../img/moon.jpg");
    background-size: cover;
    background-position: center 0;
    position: relative;
    perspective: 1px;
    

}

/*.section-header::before {
    content: "";
    position: absolute;
    top: 200px; left: 200px;
    width: 100px; height: 100px;
    background-image: url("../img/earth.png");
    background-size: cover;
    animation: fly 60s linear 0s infinite;
    filter: brightness(0.8);
}*/

.section-header__h{
    top: 25vh;
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: var(--size4);
    color: var(--blank1);
    mix-blend-mode:difference;
    filter:contrast(0.2);
}

.section-header__list{
    position: absolute;
    left:0;
    right: 0;
    top: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    gap: 20px;
}
.section-header__li{
    display: flex;
    flex-basis: 50%;
    height: 60px;
    width: 100%;
    
}
.section-header__btn{
    width: 100%;
    text-align: center;
    line-height: 60px;
    background: rgba(255, 255, 255, 0.146);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: var(--size3);
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.section-header__btn:hover{
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.367);
}
.section-header__btn:focus{
    background: rgba(130, 36, 36, 0.34);
}
.btn-selected {
    background: rgba(130, 36, 36, 0.34) ;
}





/* SECTION CARDS */

.section-cards{
    padding: 100px 0;
    background: var(--blank2);
}
.section-cards__h {
    color: var(--accent1);
    font-size: var(--size4);
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}
.section-cards__cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20vw;
}

.section-cards__card{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid rgb(34, 34, 34);
    background-size: 110%;
    transition: all ease-in-out .3s;
}

.section-cards__card:hover .section-cards__card-content{
    transform: translateY(0);

}
.section-cards__card:hover{
    background-size: 120%;
}

.section-cards__card-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.600);
    transform: translateY(140px);
    transition: transform ease-in-out 0.4s;
}

.section-cards__name{
    line-height: 60px;
    font-size:var(--size3);
}
.section-cards__text{
    padding: 20px;
    font-size: var(--size2);
}

/*  TIMELINE  */
.section-timeline {
    padding: 100px 0;
    background: var(--blank2);

}
.section-timeline .container{
   padding-left: 40px;

}
.section-timeline__h {
    color: var(--accent1);
    font-size: var(--size4);
    margin-bottom: 100px;
    width: 100%;
    text-align: center;

}

/* PLANETS */
.section-planets{
    padding: 100px 0;
    background: var(--blank2);
    overflow-x: hidden;
    overflow-y: hidden;

}
.section-planets__h{
    color: var(--accent1);
    font-size: var(--size4);
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    
}
/* FOOTER */

.footer {
    background: var(--accent1);
    width: 100%;
}

.footer__content-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.footer__left{
    width: 300px;
    margin-right: 20px;
}


.footer__right{
    width: 300px;

}

.footer__h{
    margin: 20px 0;
}

.footer__contact-line{
    margin: 10px;
    display: flex;
    align-items: center;
}
.footer__contact-img{
    filter: brightness(0);
    height: 1.5em;
    margin-right: 10px;
    transition: opacity ease-in-out.3s;
    opacity: 0.7;

}
.footer__contact-a{
    transition: all ease-in-out.3s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: 0;


}
.footer__contact-line:hover .footer__contact-a{
    color: white;
    border-bottom: 2px solid white;


}
.footer__contact-line:hover .footer__contact-img{
    color: white;
    opacity: 1;
}

.footer__yandex-map{
    filter: grayscale(0.7);
    filter: brightness(0.8);
    margin-bottom: 20px;
}
.footer__yandex-map iframe{
    height: 400px;
    width: 100%;
    border-radius: 10px;

}
/* APPARAT */

.apparat-section {
    background: rgb(68, 68, 68);
    overflow-y:auto;
    padding-top: 50px;
    padding-bottom: 100px;
}
.card-footer {
    background: #000;
}
.card-footer .footer__contact-img{
    filter: grayscale(1) invert(1);
}
.apparat-section::-webkit-scrollbar {
    display: none;
}

.apparat-section__header{
    background: rgba(0, 0, 0, 0.781);
    height: 50px;
    top:0;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    display: flex;
    position: fixed;
    backdrop-filter: blur(10px);
}
.apparat-section__header-back {
    flex-basis: 10%;

}
.apparat-section__header-h{
    text-align: center;
    line-height: 50px;
    font-size: var(--size3);
    font-weight: bold;
    flex-basis: 80%;
    margin: 0;
}


.apparat-section__title-img{
    display: block;
    margin: 20px auto;
    width: 50vw;
    border-radius: 10px;
}
.apparat-section__title-p{
    display: block;
    margin: 30px auto;
    width: 60vw;
    max-width: 100%;
}
.apparat-section__article-img{
    display: block;
    margin: 20px auto;
    width: 50vw;
    border-radius: 10px;
}
.apparat-section__article-p{
    display: block;
    margin: 20px auto;
    width: 60vw;
    max-width: 100%;
    line-height: 1.5em;
    font-size: var(--size2);
}
/* TIMELINE */
.section-timeline{
}
.section-timeline__grup-header{
    display: flex;
    cursor: pointer;
    width: max-content;
}
.section-timeline__grup-element-img{

    transition: transform ease-in-out .3s;

}
.section-timeline__grup-element-p{
    border-bottom: 2px solid var(--blank2);
    transition: border ease-in-out .2s;


}
.section-timeline__grup-header:hover .section-timeline__grup-element-p{
    border-bottom: 2px solid var(--blank1);
}


.section-timeline__grup-element{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--size3);

}


.section-timeline__element{
    position: relative;
    padding-top: calc(20px + 0.27em);
    padding-bottom: 20px;
    display: none;
}

.section-timeline__element-p{
    font-size: var(--size1);

}
.section-timeline__element-content{
    display: flex;

    margin-top: 30px;

}
.section-timeline__element-content-left{
    align-self: center;

    margin-right: 20px;
}
.section-timeline__element-content-img{
    width: 200px;

}
.section-timeline__element-name{
    margin-bottom: 10px;
}
.section-timeline__element-text{
    font-size: var(--size1);
}
.section-timeline__element-content-right{
    max-width: 30vw;
}

.timeline-decor::after{
    
    position: absolute;
    content: "";
    left: -20px;
    top: calc(20px + 0.42em);
    width: 10px;
    height: 10px;
    background: black;
    outline: solid 2px white;
    border-radius: 100%;
    z-index: 1;
}
.timeline-decor:first-child:before{
    position: absolute;
    content: "";
    left: -16px;
    top: calc(20px + 0.42em);
    bottom: 0;
    width: 2px;
    background: white;
}
.timeline-decor::before{
    position: absolute;
    content: "";
    left: -16px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: white;
}
.timeline-decor:last-child::before{
    position: absolute;
    content: "";
    left: -16px;
    top: 0;
    bottom: calc(100% - 30px - 0.42em);
    width: 2px;
    background: white;
}

/* PLANETS */
.section-planets{
    padding-bottom: 0;
}
.section-planets__cards{
    display: flex;
    transition: transform ease-in-out .3s;
}
.section-planets__card{
    transition-property: transform filter;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transform: scale(0.7);
    filter: brightness(0.7) blur(1px);
    min-width: 20vw;
}
.section-planets__card-h{
    text-align: center;
}
.section-planets__card-img{

}
.section-planets__buffer{
    min-width: calc(50vw - 10vw);
}
.planet-selected{
    transform: scale(1);
    filter: brightness(1.0) blur(0);
    min-width: 20vw;
}

@media screen and (width<600px) {
    .footer__content-div{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__left{
        margin-bottom: 20px;
    }
    .section-cards__card{
        background-size: cover;
    }


    .footer__h{
        text-align: center;
    }
    .container{
        padding: 0 20px;
    }
    
    :root {
        --size1: 0.5em;
        --size2: 0.7em;
        --size3: 1.2em;
        --size4: 2em;
    }
    .section-header__list{
      
        width: auto;
        
    }
}
